name: Deploy Documentation

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write


jobs:
  build:
    if: github.actor == 'twhoekstra'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Cloning poreFlow as a submodule
        run: | 
          git submodule init 
          git submodule update

      - name: Convert notebooks
        run: python examples/convert_and_add_to_docs.py

      - name: Building documentation
        run: | 
          zensical build --clean

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: site

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.actor == 'twhoekstra'
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
